.card-container > div {
    gap: 2rem;
}

.card {
    width: 18rem;
}

@media (max-width: 768px) {
    .card {
        width: 98%;
        margin: 0 auto;
    }

    .card-container > div {
        gap: 10px;
    }
}