.card-container > div {
    gap: 2rem;
}

.card {
    width: 18rem;
    height: 400px;
}

.card .card-img-top {
  height: 200px;
  object-fit: cover;
}

.card .card-body {
  height: 200px;
}

.card .card-body .card-text {
  height: 50%;
  overflow: hidden;
}

@media (max-width: 768px) {
    .card {
        width: 90%;
        margin: 0 auto;
    }

    .card-container > div {
        gap: 10px;
    }
}