.card-container {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.card-container > div {
    gap: 2rem;
}

.card {
    width: 18rem;
    max-height: 400px;
}

@media (max-width: 768px) {
    .card {
        width: 90%;
        margin: 0 auto;
    }

    .card-container > div {
        gap: 10px;
    }
}